In [ ]:
pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.11/dist-packages (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (5.29.5)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from tensorflow) (75.2.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (4.14.0)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (1.73.1)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (2.0.2)
Requirement already satisfied: h5py>=3.11.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (3.14.0)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.4.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.11/dist-packages (from tensorflow) (0.37.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in /usr/local/lib/python3.11/dist-packages (from keras>=3.5.0->tensorflow) (0.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.21.0->tensorflow) (2025.6.15)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.8.2)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.11/dist-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich->keras>=3.5.0->tensorflow) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

In [ ]:
import tensorflow as tf

In [ ]:
from tensorflow.keras.models import  Sequential
from tensorflow.keras.layers import Dense, Input
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
import pandas as  pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Salary_Data.csv')

In [ ]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [ ]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
X=df[['Age','Years of Experience']]
y=df.Salary

In [ ]:
scaler=StandardScaler()
x=scaler.fit_transform(X_train)
xt=scaler.transform(X_test)

In [ ]:
X_train, X_test, Y_train, Y_test=train_test_split(X, y, test_size=0.2, random_state=5)

In [ ]:
# Start Architecture
model=Sequential((

                 Input(shape=(2,)), # no of columns, input feature
                 Dense(8, activation='relu'), #Layer=dense(1st layer ma 4 ota node)
                 Dense(4, activation='relu'), # relu=max(0,x)(2nd layer ma 2 ota node)
                 Dense(1)
)
)

In [ ]:
model.compile(optimizer='sgd', loss='mae')

In [ ]:
model_data=model.fit(x,Y_train, epochs=20)

Epoch 1/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 40436.0703
Epoch 2/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 38744.0508
Epoch 3/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 41858.6250
Epoch 4/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 42940.1602
Epoch 5/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 39874.3789
Epoch 6/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 43783.0156
Epoch 7/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 38960.2852
Epoch 8/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 40667.8359
Epoch 9/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 36692.8789
Epoch 10/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 39661.1289
Epoch 11/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 39742.7344
Epoch 12/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 38286.9453
Epoch 13/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 38095.6602
Epoch 14/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 38635.3320
Epoch 15/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 39391.8555
Epoch 16/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 39103.3398
Epoch 17/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 41219.1641
Epoch 18/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 40677.9414
Epoch 19/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 45437.7070
Epoch 20/20
168/168 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 38680.5703

In [ ]:
toppredict=pd.DataFrame({'Age':[27],'Years of Experience':[10]})

In [ ]:
toppredict_s=scaler.transform(toppredict)

In [ ]:
model.predict(toppredict_s)

1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 543ms/step

array([[225220.17]], dtype=float32)

In [ ]:
model.evaluate(xt,Y_test)

42/42 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 31649.0566

31627.1484375

In [ ]:
#predicition
model.predict([-1.5,0.5])

ValueError: Unrecognized data type: x=[-1.5, 0.5] (of type <class 'list'>)