In [ ]:
Create database Database_name[stduent];
DDL => create table , create database,  drop, Alter 
DML=> select ,insert,update , delete
create table Record(
    Id int,
    Name varchar(30),
    Address varchar(30),
    Phone char(10),
    Fee decimal (6,2),
    DOB date
    );
insert into Record (  [(Id, Name, Address,Phone, Fee, DOB)] =>optional part) values
(101 , "puja" ,"ktm" , "9862464340", 500.00, "1945-12-12");


select * from Record;

In [ ]:
Create table Account(
    room_no int ,
    name vaarchar(15));
select * from Account;
drop table account;
truncate table Record;
select * from Record;