In [ ]:
# Machine Learning
Input  Output 
2      6      2**3 -2
3      24     3**3 -3
4      60     4**3 -4
5      ?  x**3-x
Formula 
Model(formula)

In [ ]:
Input 
Output   : Formula 





Traditional 
Input 
Formula

In [ ]:
 Salary predicition
Input - Age, Gender ,........
Output - Salary

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('insurance.csv')

In [3]:
print(data.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
dbdata=pd.read_csv('diabetes.csv')

In [7]:
dbdata.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
 To predict Diabetes
 0- xaen diabetes
1 xh diabetes

In [ ]:
Machine Learning
1. Supervised Learning 
2. Unsupervised Learning
3. Reinforcement  Learning

In [ ]:
1. Supervised Learning :
       Input - Output(labeled data)
Types of  supervisied learning
   - Regression  - x , y (output ,target value) : numerical value that is called regression  eg house price predicition
   - classification   y () : class label  eg spam email detection

In [ ]:
2. Unsupervised Learning : 
    only input are given  : 
input data lai group group ma classify garxh 
input data  ma pattern herch then classify garch

In [ ]:
*** Linear Regression  :

In [9]:
data=pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [11]:

#age -> charges 
df=data[['age','charges']]
df.head()

   age      charges
0   19  16884.92400
1   18   1725.55230
2   28   4449.46200
3   33  21984.47061
4   32   3866.85520

In [ ]:
x(age)       y(charges)
19           16884

In [ ]:
b=(nsum(xy)-sum(x) sum(y))/(nsum(x**2) -sum(x)**2)
n= no of data
sum(xy)
sum(x)
sum(x**2)
sum(x)**2

a=mean(y) - b* mean(x)



y=a+bx
y=0.5+0.75* x